@import "tailwindcss";



html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: radial-gradient(circle at 50% 20%, #0b0b1a, #000);
}

/* Yulduzlar konteyneri */
.space {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: 0; /* orqa fon */
}

/* Har bir yulduz */
.star {
  position: absolute;
  width: 2.5px;
  height: 2.5px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: fall linear infinite;
}

/* Harakat animatsiyasi */
@keyframes fall {
  from {
    transform: translateY(-20vh);
    opacity: 1;
  }
  to {
    transform: translateY(110vh);
    opacity: 0;
  }
}	